html, body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    min-width: 260px;
    background: linear-gradient(54.58deg, #DE78AA 0.65%, #A28FB1 38.98%, #889EB1 64.11%, #3BB2AC 99.67%);
}
#title{
    font-size: 4em;
    margin: 1px;
    text-shadow: 3px 3px gray;
}
#title_2{
    font-size: 1.25em;
}
#main{
    margin: 30px auto;
    padding: 15px;
}
img{
    max-width: 100%;
    display: block;
    max-height: available;
    margin: auto;
}
#img-div{
    width: auto;
    margin: 5px;
    margin-top: -55px;
    border: 5px hotpink;
}
#img-caption{
    margin: 20px;
    margin-top: 50px;
}
#tribute-info{
    align-content: center;
}
ul{
    max-width: 700px;
    text-align: left;
    list-style-position: inside;
    margin-left: 730px;
    list-style-type: square;


}
